/* Reset and general styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(101, 73, 110, 0.475);
}

/* Header styles */
header {
    background-color: #6F4B7D;
    color: white;
    text-align: center;
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 2rem;
    font-size: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    color: #E098FD;
}

a:hover {
    color: rgba(170, 122, 215, 0.857);
    text-decoration: underline;
}

/* Hidden menu styles */
.hidden-menu {
    display: none;
    position: absolute;
    background-color: #6F4B7D;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.block {
    display: block;
}

.hidden-menu li {
    text-align: center;
}

.hidden-menu a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 0.8rem;
}

.hidden-menu li:hover a {
    color: #E098FD;
    text-decoration: underline;
}

.details {
    font-size: 0.8rem;
    background-color: #6F4B7D;
    padding: 1rem;
    border-radius: 5px;
}

.hidden-menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Movie header styles */
.movie-header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5rem;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    font-size: 3rem;
}

/* Movie gallery styles */
.movie-gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5rem;
    margin: 2rem 3rem;
}

/* Movie poster styles */
.movie-poster {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
    padding: 3rem;
    background-color: #C4B5C9;
    border-radius: 0 2rem 2rem 2rem;
    cursor: pointer;
}

.column-left img {
    max-width: 100%;
    border-radius: 3px;
    height: 22rem;
}

.column-left {
    display: flex;
}

.column-middle h3 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.column-middle p {
    font-size: 1.3rem;
}

.column-right img {
    padding: 0.5rem;
    max-width: 50px;
}

.room {
    padding: 0.8rem;
    background-color: #6F4B7D;
    color: #fff;
    border-radius: 5px;
}

/* Showtimes styles */
.showtimes {
    margin: 5rem;
}

.showtimes ul li {
    font-size: 1.3rem;
}

/* Footer styles */
footer {
    background-color: #6F4B7D;
    color: white;
    text-align: center;
    padding: 1rem;
}
